/* .main{
    height: 500px;
    width: 500px;
    background-color: red;
    /* position:static; */
     /* position: relative;
    top :60px;
    right: 10px;
    bottom: 20px;
    
}

.sub{
    height: 250px;
    width: 250px;
    background-color:blue;
    position: absolute;
    top :60px;
    right: 10px;
    bottom: 20px;
}

 .main2{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    position:fixed;
    bottom:30px
} 

.sub2{
    height: 40px;
    width: 40px;
    background-color:yellow ;
    position: sticky;
    top:60px;
    
} */ 

.main6{
    height: 100px;
    width: 100px;
    background-color: green;
    /* overflow:scroll; */
    /* overflow: auto;
    overflow: hidden;
    overflow-y:visible ; */
}

.main7{
    height: 400px;
    width: 400px;
    background-color: rgba(32, 119, 46, 0.979);
    /* opacity: 20%; */

}

.sub{
    height: 200px;
    width: 200px;
    background-color: chartreuse;
    position: relative;
    top: -20px;
    z-index: -1;

}



