
*{
    margin: 0%;
    padding: 0%;
}

div{
    height: 50vh;
    width: 100vw;
    background-color: rgb(35, 156, 51);
    padding: 50px;
    /* box-sizing: content-box; */
    box-sizing: border-box;
}