p{
    /* font-size: 50px; */
/* font-size: 7mm; */
/* font-size: 5cm; */
/* font-size: 2in; */
/* font-size: 25pt; */
/* font-size: 12pc; */

}
 
/* div{
    width: 100vm;
    height:100vh;
    background-color: rgb(112, 7, 86);
}   */

p{
    /* font-size: 4em;  */
    /* font-size: 7rem; */
    /* font-size: 10vmin; */
    /* font-size: 12vmax; */
}

 