*{
    margin: 0%;
    padding: 0%;
}

.main{
    width: 60%;
    height: 750px;
    background-color: white;
}

.sub{
    width: 60%;
    height: 450px;
    border-bottom: 1px solid black;
    background-color: aquamarine;
   display: flex;
   justify-content: center;
    
}



.ball{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: blueviolet;
    animation-name: colorchange;
    position: relative;
    animation-duration: 6s;
    animation-iteration-count: infinite;
   
    

}


@keyframes colorchange{
    0%{
        top: 0px;
        bottom: 0px;
        background-color: blueviolet ;

    }
    25%{
        top: 200px;
        bottom: 0px;
    }
    50%{
        top:350px ;
        bottom: 0px;
        background-color: rgb(165, 30, 30);

    }

100%{
    top: 0px;
    bottom:200px ;
    background-color:  blueviolet;
}
}

@media  only screen and(min-width:768px) {
    .main{
        background-color: greenyellow;
    }
    
}