

/* button{
    background-color: aliceblue;
    color: aqua;
    padding: 50px;
    font-size: 20px;
    width: 10x;
    height: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: rebeccapurple;
    color: white ;
} */

/* .main a:visited{
    color: red;
}
.main a:active{
    color: blue;
} */

/* .main1 p:first-child{
    color: blueviolet;
} */
 /* .main1 h1:last-child{
    color: blue;
 } */
  